<a href="https://colab.research.google.com/github/khadi1/machine_learning_practice/blob/main/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading Data

In [1]:
import pandas as pd
file_path = 'https://raw.githubusercontent.com/njtierney/melb-housing-data/master/data-raw/melbourne_housing_raw.csv'
df = pd.read_csv(file_path)
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

#Review Data

In [2]:
df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude',
       'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
df =df.dropna(axis = 0)

In [5]:
y= df.Price

In [6]:
features=  ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [ ]:
X = df[features]
X

In [10]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  8887.000000  8887.000000   8887.000000  8887.000000  8887.000000
mean      3.098909     1.646450    523.480365   -37.804501   144.991393
std       0.963786     0.721611   1061.324228     0.090549     0.118919
min       1.000000     1.000000      0.000000   -38.174360   144.423790
25%       2.000000     1.000000    212.000000   -37.858560   144.920000
50%       3.000000     2.000000    478.000000   -37.798700   144.998500
75%       4.000000     2.000000    652.000000   -37.748945   145.064560
max      12.000000     9.000000  42800.000000   -37.407200   145.526350

In [12]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1 )


model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [19]:
print(X.head())
print()
print(model.predict(X.head()))

    Rooms  Bathroom  Landsize  Lattitude  Longtitude
2       2       1.0     156.0   -37.8079    144.9934
4       3       2.0     134.0   -37.8093    144.9944
6       4       1.0     120.0   -37.8072    144.9941
11      3       2.0     245.0   -37.8024    144.9993
14      2       1.0     256.0   -37.8060    144.9954

[1035000. 1465000. 1600000. 1876000. 1636000.]